[Desktop Entry]
Type=Application
Name=Pycharm
GenericName=Pycharm3
Comment=Pycharm3:The Python IDE
Exec="/usr/local/pycharm-2020.2.3/bin/pycharm.sh" %f
Icon=/usr/local/pycharm-2020.2.3/bin/pycharm.png
Terminal=pycharm
Categories=Pycharm;
